# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
.cache/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / Editor files
.vscode/
.idea/
*.iml

# Mac OS / Windows files
.DS_Store
Thumbs.db
